body {
	background-color: #DDDDDD;
	color: black;
	font-family: ヒラギノ角ゴシック;
	width: 70%;
    margin: 0 auto !important;
	color: black;
	background-image: url(../image/haikei.png);
}

th {
	width: 10%
}

.error {
  color: red;
  font-size: 12px;
}

/**真ん中に寄せる**/
.middle {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100mm;
	line-height: 1.5em;
}

/**TOP背景画像**/
.bg-img {
	background-image: url("/images/back.png");
	background-size: cover;
	text-align: center;
}

/** ログイン画面 **/
.login_form {
	width: 400px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	background-color: white;
}

.complogin_form {
	width: 400px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	background-color: white;
}

.middlelogin {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70mm;
	line-height: 1.5em;
}

.base_input {
	width: 250px;
	height: 35px;
	padding: 8px 10px;
	border-radius: 10px;
}

.middlecomplogin {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50mm;
	line-height: 1.5em;
}

/**後ろに白背景**/
.compinfo {
	width: 950px;
	height: 550px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	background-color: white;
}
.insertplayer{
	width: 750px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	background-color: white;
}

/**ボタン色**/
.btn-orange-moon {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-light-moon {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    border: 3px solid #eee;
}
input {
	width: 70%;
	margin: 0;
}

table {
   text-center;
   border-radius;
   color: #66CC66;
   background-color: #FFFFFF;
}

div{
	font-weight: bold;
	font-family: Inpact;
	background-color: #ffffff;
}

div.a{
	margin: 
	position: fixed top: 0 right:0;
	
}

h1{
	font-family: Impact;
	font-size: 30px;
}

#logout{
	font-family: Impact;
	font-size: 30px;
	padding-right: 5 10 10 5;
}