body {
	background-color: #f5f5f5;
	color: black;
	font-size: 1.1rem;
}


th {
	width: 10%
}

/** 確認モーダル用 **/
#modal {
  width: 300px;
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 50%;
  left: 50%;
  
  background-color: #fff;
}

#modal.is-show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  
  transition: all 0.5s;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.modal_message::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/注意.png);
  background-size: contain;
  vertical-align: middle;
  margin: 10px;
}


#fadeLayer {
  position:fixed;
  top:0px;
  left:0px;

  width:100%;
  height:100%;

  background-color:#000000;
  opacity:0.5;
  visibility:hidden;
  z-index:1;
}
.error {
  color: red;
  font-size: 12px;
}

/**真ん中に寄せる**/
.middle {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100mm;
	line-height: 1.5em;
}

/**TOP背景画像**/
.bg-img {
	background-image: url("/images/back.png");
	background-size: cover;
	text-align: center;
}

/** ログイン画面 **/
.login_form {
	width: 400px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	background-color: white;
}

.complogin_form {
	width: 400px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	background-color: white;
}

.middlelogin {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70mm;
	line-height: 1.5em;
}

.base_input {
	width: 250px;
	height: 35px;
	padding: 8px 10px;
	border-radius: 10px;
}

.middlecomplogin {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50mm;
	line-height: 1.5em;
}

/**後ろに白背景**/
.compinfo {
	width: 950px;
	height: 550px;
	position: absolute;
/* 	top: 50%; */
/* 	left: 50%; */
/* 	transform: translate(-50%, -50%); */
	text-align: center;
	border-radius: 10px;
	background-color: white;
	  top: 20%;
    width: 100%;
    margin: auto;
    /* z-index: 100; */
}
.insertplayer{
	width: 750px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	background-color: white;
}

/**ボタン色**/
.btn-orange-moon {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-light-moon {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    border: 3px solid #eee;
}
.input-size input{
	width:20%;
}
label{
	width: 20%;
	display: inline-box;
	text-align:right;
}

