@charset "UTF-8";

 .vtb-item{
    margin:auto;

}
.vtb-item-parent {
    position: relative;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.vtb-item-players {
    flex-direction: column;
    background-color:white;
    margin: 0;
    padding: 20px, 0px;
    color: white;
}
.vtb-item-players .vtb-player {
    padding: 10px;
}

.vtb-item-players .winner {
    background-color: darkgreen;
}
.vtb-item-players .defeated {
    background-color: firebrick;
}
.vtb-item-players .winner.highlight {
    background-color: darkseagreen;
}
.vtb-item-players .defeated.highlight {
    background-color: indianred;
}
.vtb-item-parent:after {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    left: 0;
    top: 50%;
    background-color: gray;
    transform: translateX(-100%);
}
.vtb-item-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vtb-item-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.vtb-item-child:before {
    content: "";
    position: absolute;
    background-color: gray;
    right: 0;
    top: 50%;
    transform: translateX(100%);
    width: 25px;
    height: 2px;
}
.vtb-player1, .vtb-player2{
    margin: 10px;
    background-color: lightslategrey;
    width: 80%;
    height: 20%;
    text-align:center;
}
.player_selected{
    margin: 0px;
    padding: 5px;
    
}
.vtb-item-child:after {
    content: "";
    position: absolute;
    background-color: gray;
    right: -25px;
    height: calc(50% + 22px);
    width: 2px;
    top: 50%;
}
.vtb-item-child:last-child:after {
    transform: translateY(-100%);
}
.vtb-item-child:only-child:after {
    display: none;
}

