<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<div th:insert="header"></div>
	<a href="/comp_info">大会作成</a>
	<h1>大会一覧</h1>
	<table border="1">
		<tr>
			<th>番号</th>
			<th>大会</th>
			<th>開催日</th>
			<th>トーナメント表へ</th>
		</tr>
		
		<!-- データベースの値参照 -->
		<tr th:each="comp : ${compList}">
			<td>[[ ${comp.compId} ]]</td>
			<td>[[ ${comp.compName} ]]</td>
			<td>[[ ${comp.compDate} ]]</td>
			<td><a href="">GO!</a></td>
		</tr>
	</table>
</body>
</html>