<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>大会一覧</title>
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
	rel="stylesheet">
</head>
<body class="bg-info text-white" style="background-size: cover;">
	<div th:insert="header"></div>
	<a href="/comp_info"class="btn btn-primary">大会作成</a>

	<div class="text-center">
		<h1>大会一覧</h1>
		<table border="1" class="mx-auto">
			<tr>
				<th>番号</th>
				<th>大会</th>
				<th>開催日</th>
				<th>トーナメント表へ</th>
			</tr>
			<!-- データベースの値参照 -->
			<tr th:each="complist : ${resultList}">
				<td>[[ ${complist.compId} ]]</td>
				<td>[[ ${complist.compName} ]]</td>
				<td>[[ ${complist.compDate} ]]</td>
				<td><button type="button" onclick="location.href='tournament'">GO!</button></td>
			</tr>
		</table>
	</div>
</body>
</html>