<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"rel="stylesheet">
<link href="/css/commons.css" rel="stylesheet">
<meta charset="UTF-8">
<title>	選手登録</title>
</head>
<body>
	<table>
		<tr th:if="${validationError}" th:each="error : ${validationError}">
			
		</tr>
		</table>
	<div th:insert="header"></div>
	<button type="button" onclick="location.href='all_player'">戻る</button>
	<form action="insert_player"th:object="${insert_player}" th:method="post">
		<div class="form-group">
			<label>プレイヤー1:</label>
			<input type="text" th:field="*{playerAName}" placeholder="入力してください(最大●文字)">
			<br><td th:text="${errorMsg1}"></td>
		</div>
		<div>
			<label>プレイヤー2:</label>
			<input type="text" th:field="*{playerBName}" placeholder="入力してください(最大●文字)">
			<td th:text="${error}"></td>
		</div>
		<div>
			<label>トーナメント番号:</label>
			<input type="text" th:field="*{tournamentNo}" placeholder="数値を入力(MAX●)">
			<br><td th:text="${errorMsg2}"></td>
		</div>
		<input type="submit" name="insert" value="登録">
	</form>
</body>
</html>