<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>

	<form action="comp_list" th:object="${login}" method="POST">
		<button type="button" onclick="location.href='/'" name="create">戻る</button>
		<div>
			<label>ログインID:</label>
			<input type="text" th:field="*{loginId}">
		</div>
		<div>
			<label>パスワード:</label>
			<input type="password" th:field="*{password}">
		</div>
		<input type="submit" value="ログイン">
	</form>
</body>
</html>