<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>サーブ権設定</title>
</head>
<body>
	<form action="score_setting" th:object="${score_setting}" method="POST">
		<input type="text" th:field="*{playerA}">
		<input type="text" th:field="*{playerB}">
		<input type="text" th:field="*{playerC}">
		<input type="text" th:field="*{playerD}">
		<p>立ち位置</p>
		
		<div>
			<div>
				<p>A</p>
				<p>B</p>
			</div>
			
			<div>
				<p>C</p>
				<p>D</p>
			</div>
		</div>
		
		<div>
			<input type="radio" value="team1" th:field="*{server}">
			サーブ権を選択
			<input type="radio" value="team2" th:field="*{server}">
		</div>
		
		<button type="submit">試合開始</button>
	</form>
</body>
</html>