<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トーナメント表</title>
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"rel="stylesheet">
<link href="/css/yuya.css" rel="stylesheet">
</head>
<body>
	<div th:insert="header"></div>
	<button type="button" onclick="location.href='comp_list_back'">戻る</button>
	<button type="button" onclick="location.href='all_player'">選手一覧</button>
	<button type="button" onclick="location.href='comp_detail'">大会詳細</button>
	<button type="button" onclick="location.href='game_result_all'">大会結果受信ボックス</button>
</body>
</html>