<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-tournament-bracket@2.1.2/dist/vue-tournament-bracket.umd.min.js"></script>
	<title>トーナメント表</title>
</head>
<body>
	<div th:insert="header"></div>
	<button type="button" onclick="location.href='comp_list_back'">戻る</button>
	<button type="button" onclick="location.href='all_player'">選手一覧</button>
	<button type="button" onclick="location.href='comp_detail'">大会詳細</button>
	<button type="button" onclick="location.href='game_result_all'">大会結果受信ボックス</button>
	<div id="app">
	  <details v-for="tournament in tournaments">
            <summary>トーナメント: {{ tournament.tournament_no }}</summary>
        <bracket :rounds="tournament.rounds">
                <template #player="{ player }">
                    <div>
                        <div>
                            <b>
                                {{ player.name }}
                            </b>
                        </div>
                    </div>
                </template>
                <template  #player-extension-bottom = " {match} ">
                    <button type="button" :value="match.match_id">
                        試合番号：{{ match.match_id }}
                    </button>
                </template>
        </bracket>
    </details>
	</div>
    <script th:src="@{js/tournament.js}"></script>
</body>
</html>